*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: "Century Gothic", sans-serif;
  background-color: #ACACFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

main{
  background-color: #FFF;
  width: 560px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.500)
}

h1{
  color: rgb(58, 0, 112);
}

h1, h2, p{
  margin: 10px 0;
}

a{
  text-decoration: none;
  font-weight: 700;
  color: rgb(58, 0, 112);
}

a:hover{
  text-decoration: underline;
  color: rgb(26, 26, 255);
}

img.lado{
  float: right;
}

.voltar{
  border: 1px solid #000;
  border-radius: 50%;
}